.Skill-List {
    display: flex;
}

.Skill-Wrapper {
    overflow: hidden;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 4px 10px 0 rgba(189, 208, 223, .25);
    transition: transform 100ms ease-out;
}

.Skill-Container {
    position: relative;
}

.Skill-Name {
    border-top: 1px solid #ebeef1;
    display: block;
    line-height: 1.6;
    color: #737b87;
    padding: 10px 5px 12px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 100ms ease-out;
}

.Skill-Logo {
    width: 200px;
    height: 200px;
}
