.Skill-List {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Skill-Wrapper {
    overflow: hidden;
    background-color: #191919;
    border-radius: 6px;
    transition: transform 100ms ease-out;
    margin: 10px;
    align-self: center;
}

.Skill-Container {
    position: relative;
    padding: 20px;
}

.Skill-Name {
    border-top: 1px solid #ebeef1;
    display: block;
    line-height: 1.6;
    color: #737b87;
    padding: 10px 5px 12px;
    font-size: 12px;
    text-align: center;
    overflow: hidden;
    letter-spacing: 0.05em;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: color 100ms ease-out;
}

.Skill-Logo {
    width: 100px;
    height: 100px;
}
