
a,
a:active,
a:focus {
  text-decoration: none;
  margin-bottom: 10px;
  cursor: pointer;
  padding-bottom: 1px;
  position: relative;
  white-space: nowrap;
}

/* a:hover::after {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  content: "";
  display: inline-block;
  border: 1px solid #ffc300
} */